footer {
    position: relative;
}

.places h1 {
    font-size: 30px;
}

.places article {
    width: 390px;
    min-height: 280px;
    padding: 20px;
    margin: 20px;
    border: #ff5a5f 1px solid;
    border-radius: 4px;
    display: inline-block;
}

.places article h2 {
    font-size: 30px;
    text-align: center;
}

.price_by_night {
    color: #ff5a5f;
    border: #ff5a5f 4px solid;
    border-radius: 50%;
    min-width: 60px;
    height: 60px;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5% 1% 0px;
}

.place__container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.heading__container {
    display: flex;
    justify-content: center;
    margin-bottom: 6px;
}

.heading__container > h2 {
    flex: 2;
    padding-left: 75px;
    margin-top: 0px;
}

.information {
    height: 80px;
    border-top: #dddddd 1px solid;
    border-bottom: #dddddd 1px solid;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding-top: 10px;
}

.information p {
    width: 100%;
    margin-top: 50px;
}

.max_guest {
    background: url("../images/icon_group.png") no-repeat;
    width: 100px;
    background-position-x: center;
    text-align: center;
}
.number_rooms {
    background: url("../images/icon_bed.png") no-repeat;
    width: 100px;
    background-position-x: center;
    text-align: center;
}
.number_bathrooms {
    background: url("../images/icon_bath.png") no-repeat;
    width: 100px;
    background-position-x: center;
    text-align: center;
}

.user {
    margin-block: 10px;
}

.places .amenities,
.places .reviews {
    margin-top: 40px;
}

.places .amenities h2,
.places .reviews h2 {
    font-size: 16px;
    border-bottom: 1px #dddddd solid;
    width: 100%;
    text-align: start;
}

.places .amenities ul,
.places .reviews ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.places .amenities li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
}

.tv {
    background: url("../images/icon_tv.png") 0% 20% no-repeat;
}

.wifi {
    background: url("../images/icon_wifi.png") 0% 20% no-repeat;
}

.pet_friendly {
    background: url("../images/icon_pets.png") 0% 20% no-repeat;
}

.tv,
.wifi,
.pet_friendly {
    background-size: 25px;
    list-style: none;
}

.places .amenities li {
    height: 38px;
    padding-left: 40px;
}

.reviews h3 {
    font-size: 14px;
}
.reviews p {
    font-size: 12px;
}
