body {
    margin: 0;
    padding: 0;
    color: #484848;
    font-size: 14px;
    min-height: 100vh;
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
}



.container {
    max-width: 1000px;
    margin: 30px auto;
}

@media screen and (max-width: 70rem){
    body {
        margin-inline: min(10px, 5%);
    }

    .container {
        max-width: 100%;
        margin-inline: 2vw;
        margin-block: 0px;
    }
}
