header {
    background-color: white;
    border-bottom: 1px solid #cccccc;
}

header > nav {
    background-image: url(../images/logo.png);
    background-position: 20px center;
    background-repeat: no-repeat;
    color: #333;
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    /* padding: 0 20px; */
}

header h1,
header a {
    color: #333;
}

header a:hover {
    color: #007bff;
    text-decoration: underline;
}
