body {
    margin: 0;
    padding: 0;
    color: #484848;
    font-size: 14px;
    min-height: 100vh;
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.container {
    max-width: 1000px;
    margin: 30px auto;
}

/* push footer in the bottom */

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}

body > * {
    width: 100%;
}

footer {
    margin-block-start: auto;
}
