.filters {
    background-color: white;
    height: 70px;
    width: 100%;
    border: 1px #DDDDDD solid;
    border-radius: 4px;
}

.filters button {
    background-color: #FF5A5F;
    font-size: 18px;
    color: white;
    height: 48px;
    width: 20%;
    border: none;
    border-radius: 4px;
    float: right;
    margin: 12px;
}

.filters button:hover {
    opacity: 90%;
}

.filters .locations,
.filters .amenities {
    display: inline-block;
    position: relative;
    height: 100%;
    width: 25%;
}

.locations {
    border-right: 1px #DDDDDD solid;
}

.filters h2,
.filters h3,
.filters h4 {
    margin: 0;
}

.filters h3 {
    padding: 15px 0 0 34px;
    font-weight: 600;
}

.filters h4 {
    padding: 5px 0 12px 34px;
    font-weight: 400;
    font-size: 14px;
}


.filters .popover {
    background-color: #FAFAFA;
    border: 1px #DDDDDD solid;
    border-radius: 4px;
    list-style: none;
    display: none;
    position: absolute;
    width: 100%;
    margin: 0;
    padding: 0;
    padding: 14px 0px 14px 0px;
}

.filters .locations:hover .popover,
.filters .amenities:hover .popover {
    display: block;
}

.filters .locations li {
    margin: 0 auto 6px 20px;
}
.filters .amenities li {
    margin: 12px auto 12px 30px;
}

.locations .popover > li {
    margin: 12px auto 12px 20px;
}

.amenities .popover li {
    margin: 8px auto 8px 30px;
}

.filters ul,
.filters li {
    list-style: none;
}

.filters .popover ul {
    margin: 0;
    padding: 0;
}
